<html>
    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    </head>
    <body>
        <h1 >Bulletin de l'étudiant</h1>
        <table>
                <tr>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>numero</th>
                    <th>noteMath</th>
                    <th>noteScience</th>
                    <th>noteHistoire</th>
                    <th>noteAnglais</th>
                    <th>noteFrancais</tthr>
                </tr>
                <tr>
                    <th>{{ nom }}</th>
                    <th>{{ prenom }}</th>
                    <th>{{ numero }}</th>
                    <th>{{ noteMath }}</th>
                    <th>{{ noteScience }}</th>
                    <th>{{ noteHistoire }}</th>
                    <th>{{ noteAnglais }}</th>
                    <th>{{ noteFrancais }}</th>                    
                </tr>
            </table>

            <form action="/telechargerBulletin">
                <br><br>
                <input type="submit" value="telecharger">
              </form>
    </body>
</html>