<html>
    <body>
        <form action="/getInfos" method="get">
            Nom de l'étudiant:
            <input type="text" name="nom">
            <br>
            Prénom de l'étudiant:
            <input type="text" name="prenom">
            <br>
            Numero de l'étudiant:
            <input type="text" name="numero">
            <br>
            Note en math:
            <input type="text" name="noteMath">
            <br>
            Note en science:
            <input type="text" name="noteScience">
            <br>
            Note en histoire:
            <input type="text" name="noteHistoire">
            <br>
            Note en anglais:
            <input type="text" name="noteAnglais">
            <br>
            Note en francais:
            <input type="text" name="noteFrancais">

            <br><br>
            <input type="submit" value="Envoyer">
        </form>
        <form action="/listeEtudiants" method="get">
            <input type="submit" value="Liste des etudiants">
        </form>
    </body>
</html>